[tool.poetry]
name = "ralfs"
version = "0.1.0"
description = "Retrieval-Augmented Long-Form Summarization System"
authors = ["Ashaduzzaman Sarker <ashaduzzaman2505@gmail.com>"]
license = "MIT"
readme = "README.md"
packages = [{ include = "src" }]

[tool.poetry.dependencies]
python = "^3.10"
torch = "^2.1"
transformers = "4.44.2"          
datasets = "^2.18.0"
faiss-cpu = "^1.7.4"
sentence-transformers = "3.0.1" 
accelerate = "0.33.0"  
hydra-core = "^1.3.2"
omegaconf = "^2.3.0"
nltk = "^3.9"
spacy = { version = "^3.7.2", optional = true }
rouge-score = "^0.1.2"
evaluate = "^0.4.2"
huggingface-hub = "0.39.4"


[tool.poetry.extras]
spacy = ["spacy"]

[tool.poetry.group.dev.dependencies]
pytest = "^7.4"
mypy = "^1.9.0"
black = "^24.1"
isort = "^5.13"
flake8 = "^7.0"
coverage = "^7.4"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120

[tool.isort]
profile = "black"
line_length = 120

[tool.mypy]
ignore_missing_imports = true
check_untyped_defs = true
disallow_untyped_defs = false
no_implicit_reexport = true